@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 main,
 nav,
 section,
 summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
 audio,
 canvas,
 video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
 audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
 [hidden],
 template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
 html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
 body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
 a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
 a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
 a:active,
 a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
 h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
 abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
 b,
 strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
 dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
 hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
 mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
 code,
 kbd,
 pre,
 samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
 pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
 q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
 small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
 sub,
 sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
 img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
 svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
 figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
 fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
 legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
 button,
 input,
 select,
 textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
 button,
 input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
 button,
 select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
 button,
 html input[type="button"],
 input[type="reset"],
 input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
 button[disabled],
 html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
 input[type="checkbox"],
 input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
 input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
 button::-moz-focus-inner,
 input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
 textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
 table {
  border-collapse: collapse;
  border-spacing: 0;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 24px;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #111111;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
}

h1 {
  font-size: 32px;
  line-height: 48px;
}

h2 {
  font-size: 24px;
  line-height: 48px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

h5 {
  font-size: 14px;
  line-height: 24px;
}

h6 {
  font-size: 12px;
  line-height: 24px;
}

p {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 24px;
}

blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  border-left: 3px solid #f0f2f0;
  padding-left: 24px;
  font-size: 16px;
  line-height: 24px;
}
blockquote cite {
  display: block;
  color: #919191;
}
blockquote cite:before {
  content: '\2014 \00A0';
}

pre code {
  font-family: "Monaco", MonoSpace, sans-serif;
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid #f0f2f0;
  padding: 24px;
  background-color: #fafafa;
  font-size: 12px;
  line-height: 24px;
}

ol, ul {
  margin-top: 24px;
  margin-bottom: 24px;
}
ol ol, ol ul, ul ol, ul ul {
  margin: 0;
}

dl {
  margin-top: 24px;
  margin-bottom: 24px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: 0;
}

a {
  color: #111111;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
a:hover {
  color: black;
}
a:active, a:focus {
  outline: none;
}
a img {
  border: none;
}

img {
  max-width: 100%;
  margin-bottom: 24px;
}

hr, .divider {
  margin-top: 24px;
  margin-bottom: 24px;
  border-top: 1px solid #f0f2f0;
}

html, body {
  height: 100%;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.container > .content {
  position: relative;
}

.off-canvas .page {
  height: 100%;
}
.off-canvas #header {
  -webkit-transition: all 275ms ease-out;
  -moz-transition: all 275ms ease-out;
  -o-transition: all 275ms ease-out;
  transition: all 275ms ease-out;
}
.off-canvas .sidemenu {
  position: fixed;
  height: 100%;
  top: 0;
  right: -68.75%;
  width: 68.75%;
  -webkit-transition: right 275ms ease-out;
  -moz-transition: right 275ms ease-out;
  -o-transition: right 275ms ease-out;
  transition: right 275ms ease-out;
}
.off-canvas .container {
  position: relative;
  z-index: 100;
  left: 0;
  -webkit-transition: all 275ms ease-out;
  -moz-transition: all 275ms ease-out;
  -o-transition: all 275ms ease-out;
  transition: all 275ms ease-out;
}
.off-canvas.open-menu #header {
  left: -68.75%;
}
.off-canvas.open-menu #header .toggle-slidemenu span {
  display: none;
}
.off-canvas.open-menu #header .toggle-slidemenu::before {
  top: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.off-canvas.open-menu #header .toggle-slidemenu::after {
  bottom: 23px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.off-canvas.open-menu .sidemenu {
  right: 0;
  overflow-y: auto;
}
.off-canvas.open-menu .container {
  left: -68.75%;
}
.off-canvas.open-menu .news-filter {
  left: -68.75%;
}

.sidemenu {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #333333;
  color: white;
  -webkit-overflow-scrolling: touch;
}
.sidemenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidemenu ul li {
  border-bottom: 1px solid #616161;
}
.sidemenu ul li.lang {
  font-size: 12px;
}
.sidemenu ul li a {
  color: white;
  display: block;
  padding-left: 20px;
  line-height: 44px;
}
.sidemenu .subscribe {
  background-color: #111111;
  padding: 10px 5px;
}
.sidemenu .subscribe:after {
  content: "";
  display: table;
  clear: both;
}
.sidemenu .subscribe input {
  float: left;
}
.sidemenu .subscribe input[type="mail"] {
  width: 60%;
  font-size: 12px;
  background: #333;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  height: 34px;
  padding-left: 5px;
}
.sidemenu .subscribe input[type="submit"] {
  width: 34%;
  height: 34px;
  font-size: 14px;
  color: white;
  border: none;
  background: none;
}

.body-bg {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cdcdcd), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#cdcdcd, #ffffff);
  background-image: -moz-linear-gradient(#cdcdcd, #ffffff);
  background-image: -o-linear-gradient(#cdcdcd, #ffffff);
  background-image: linear-gradient(#cdcdcd, #ffffff);
}

.page {
  position: relative;
  z-index: 1;
}

.container {
  padding-top: 50px;
}

#header {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  position: fixed;
  height: 50px;
  line-height: 50px;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: transparent;
}
#header .logo {
  position: absolute;
  left: 8px;
  top: 0;
  background-size: 70px 60px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  text-indent: -100%;
  width: 100%;
}
#header .logo a {
  display: block;
  width: 50%;
  height: 50px;
}
#header .toggle-slidemenu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}
#header .toggle-slidemenu span {
  display: block;
  right: 15px;
  width: 20px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -10px;
}
#header .toggle-slidemenu::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 275ms ease-in;
  -moz-transition: all 275ms ease-in;
  -o-transition: all 275ms ease-in;
  transition: all 275ms ease-in;
}
#header .toggle-slidemenu::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 50%;
  bottom: 18px;
  margin-left: -10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 275ms ease-in;
  -moz-transition: all 275ms ease-in;
  -o-transition: all 275ms ease-in;
  transition: all 275ms ease-in;
}

#header.fixed {
  background-color: rgba(255, 255, 255, 0.9);
}

.overflow_hidden {
  overflow: hidden;
}

#case_popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#case_popup .close-btn a {
  display: block;
  text-align: right;
  line-height: 50px;
  padding-right: 15px;
  font-size: 16px;
  color: white;
  font-family: arial;
}
#case_popup .case-slider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#case_popup .case-slider img {
  margin-bottom: 0px;
  display: block;
}
#case_popup .case-intro {
  padding: 30px;
}
#case_popup .case-intro h2 {
  font-size: 14px;
  color: white;
  line-height: 20px;
  margin-bottom: 0px;
}
#case_popup .case-intro p {
  font-size: 12px;
  color: white;
  line-height: 20px;
  margin-bottom: 0px;
}

.content_tabs {
  margin: 0;
  padding: 0;
  border: 0;
  padding: 0 10px;
  margin: 0 0 20px 0;
}
.content_tabs ul.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content_tabs ul.tabs:after {
  content: "";
  display: table;
  clear: both;
}
.content_tabs ul.tabs li {
  float: left;
  width: 33.33333%;
  min-height: 45px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  background-color: black;
  margin-top: 10px;
}
.content_tabs ul.tabs li a {
  color: white;
  display: block;
  color: #ccc;
  margin: 10px 0;
}
.content_tabs ul.tabs li.active {
  background-color: #333333;
  margin-top: 0;
  padding-top: 10px;
}
.content_tabs .tab_container {
  background-color: #333333;
  margin: 0;
  padding: 0;
  border: 0;
  padding: 10px 15px;
}
.content_tabs .tab_container h2 {
  font-size: 14px;
  text-align: center;
  color: white;
}
.content_tabs .tab_container p {
  color: white;
  font-size: 12px;
  margin-bottom: 0px;
}

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/icon_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

.bx-has-pager .bx-pager {
  text-align: center;
}
.bx-has-pager .bx-pager .bx-pager-item {
  display: inline-block;
  margin: 20px 5px;
}
.bx-has-pager .bx-pager .bx-pager-item a {
  display: block;
  width: 10px;
  height: 10px;
  text-indent: -9999px;
  background: #5c5c5c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.bx-has-pager .bx-pager .bx-pager-item a.active {
  background-color: white;
}

.brand-image {
  text-align: center;
}

.introduction {
  padding: 0 20px;
}

.location {
  padding: 0 20px;
  text-align: center;
}
.location h3 {
  font-size: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.location p {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.social-media {
  margin-bottom: 40px;
}
.social-media h3 {
  text-align: center;
  font-size: 14px;
  color: #999999;
  margin-top: 24px;
  margin-bottom: 24px;
}
.social-media ul {
  list-style: none;
  margin: 0;
  padding: 0 10px;
}
.social-media ul:after {
  content: "";
  display: table;
  clear: both;
}
.social-media ul li {
  float: left;
  width: 20%;
  text-align: center;
}
.social-media ul li a {
  text-indent: 100%;
  overflow: hidden;
}
.social-media ul li.fb a {
  background-image: url('../images/social-icon-s38b8d84758.png');
  background-position: 0 -220px;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .social-media ul li.fb a {
    background-position: 0 -220px;
    -webkit-background-size: 44px auto;
    -moz-background-size: 44px auto;
    -o-background-size: 44px auto;
    background-size: 44px auto;
    background-image: url('../images/social-icon-retina-s5be87690fd.png');
  }
}
.social-media ul li.twitter a {
  background-image: url('../images/social-icon-s38b8d84758.png');
  background-position: 0 -176px;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .social-media ul li.twitter a {
    background-position: 0 -176px;
    -webkit-background-size: 44px auto;
    -moz-background-size: 44px auto;
    -o-background-size: 44px auto;
    background-size: 44px auto;
    background-image: url('../images/social-icon-retina-s5be87690fd.png');
  }
}
.social-media ul li.youtube a {
  background-image: url('../images/social-icon-s38b8d84758.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .social-media ul li.youtube a {
    background-position: 0 -44px;
    -webkit-background-size: 44px auto;
    -moz-background-size: 44px auto;
    -o-background-size: 44px auto;
    background-size: 44px auto;
    background-image: url('../images/social-icon-retina-s5be87690fd.png');
  }
}
.social-media ul li.yk a {
  background-image: url('../images/social-icon-s38b8d84758.png');
  background-position: 0 -88px;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .social-media ul li.yk a {
    background-position: 0 -88px;
    -webkit-background-size: 44px auto;
    -moz-background-size: 44px auto;
    -o-background-size: 44px auto;
    background-size: 44px auto;
    background-image: url('../images/social-icon-retina-s5be87690fd.png');
  }
}
.social-media ul li.star a {
  background-image: url('../images/social-icon-s38b8d84758.png');
  background-position: 0 -132px;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .social-media ul li.star a {
    background-position: 0 -132px;
    -webkit-background-size: 44px auto;
    -moz-background-size: 44px auto;
    -o-background-size: 44px auto;
    background-size: 44px auto;
    background-image: url('../images/social-icon-retina-s5be87690fd.png');
  }
}
.social-media ul li.weibo a {
  background-image: url('../images/social-icon-s38b8d84758.png');
  background-position: 0 -44px;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .social-media ul li.weibo a {
    background-position: 0 0;
    -webkit-background-size: 44px auto;
    -moz-background-size: 44px auto;
    -o-background-size: 44px auto;
    background-size: 44px auto;
    background-image: url('../images/social-icon-retina-s5be87690fd.png');
  }
}

.goTop {
  width: 44px;
  margin: 20px auto;
  text-align: center;
}
.goTop a {
  width: 44px;
  height: 44px;
  font-size: 12px;
}
.goTop a::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-size: 22px 22px;
  background-image: url(../images/icon_gotop.svg);
  margin: 0 auto;
}

#profile ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0.5em;
}
#profile ul li {
  color: white;
  font-size: 12px;
}
#profile ul li::before {
  content: "-";
  margin-left: -0.5em;
}

#members .member {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #505050;
}
#members .member:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
#members img {
  margin-bottom: 10px;
}
#members .member-name {
  font-size: 14px;
}
#members .member-position {
  font-size: 14px;
}
#members .member-intro p {
  font-size: 12px;
  -webkit-transition: all 275ms ease-in;
  -moz-transition: all 275ms ease-in;
  -o-transition: all 275ms ease-in;
  transition: all 275ms ease-in;
  width: 100%;
  white-space: normal;
  display: inline-block;
}
#members .member-intro p.hide {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 80%;
}
#members .member-intro a {
  display: inline-block;
  width: 18%;
  color: white;
  font-size: 12px;
  vertical-align: top;
}

#service ol {
  padding: 0 0 0 20px;
  margin: 0;
}
#service ol li {
  color: white;
  font-size: 12px;
}
#service h2 {
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.case_studies {
  margin: 0;
  padding: 0;
  border: 0;
  padding: 15px;
  margin: 0 10px;
  background-color: #333333;
}

.case_block {
  border-bottom: 1px solid #505050;
  padding-bottom: 10px;
  margin-bottom: 24px;
}
.case_block a {
  display: block;
}
.case_block:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.case_block .case_photo {
  position: relative;
}
.case_block .case_photo img {
  margin: 0;
}
.case_block .case_photo span {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2px;
  background-color: #930;
  color: white;
  font-size: 12px;
}
.case_block .case_subject {
  font-size: 14px;
  color: white;
}

.clients {
  margin: 0;
  padding: 0;
  border: 0;
  padding: 15px;
  margin: 0 10px;
  background-color: #333333;
}
.clients:after {
  content: "";
  display: table;
  clear: both;
}

.clients-left, .clients-right {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;

}

.clients-block {
  margin-bottom: 24px;
}
.clients-block h2 {
  color: white;
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 20px;
}
.clients-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clients-block ul li {
  color: #cccccc;
  font-size: 12px;
}

.news {
  margin: 0;
  padding: 0;
  border: 0;
  padding: 50px 15px 0 15px;
  margin: 0 0 20px 0;
  background-color: #333333;
}

.news-filter {
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  z-index: 10;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 275ms ease-in;
  -moz-transition: all 275ms ease-in;
  -o-transition: all 275ms ease-in;
  transition: all 275ms ease-in;
}
.news-filter ul {
  list-style: none;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}
.news-filter ul li {
  line-height: 50px;
  text-align: center;
  background-color: #111111;
  display: none;
}
.news-filter ul li a {
  display: block;
  -webkit-transition: all 275ms ease-in;
  -moz-transition: all 275ms ease-in;
  -o-transition: all 275ms ease-in;
  transition: all 275ms ease-in;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.news-toggle {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 2;
}
.news-toggle a {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../images/icon_droparrow.png);
  background-position: center center;
  opacity: 0.5;
  background-repeat: no-repeat;
  -webkit-transition: all 275ms ease-in;
  -moz-transition: all 275ms ease-in;
  -o-transition: all 275ms ease-in;
  transition: all 275ms ease-in;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.news-filter.open {
  height: 100%;
}
.news-filter li.select{
  display: block;
}
.news-filter.open ul li{
  display: block;
}


.news-filter.open .news-toggle a {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 1;
}
.news-filter.open ul li a {
  color: white;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .news-toggle a {
    background-image: url(../images/icon_droparrow@2x.png);
    background-size: 12px 12px;
  }
}
.news-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.news-list ul:after {
  content: "";
  display: table;
  clear: both;
}
.news-list ul li {
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 12px;
  display: inline-block;
  width: 49%;
  vertical-align: top;

}
.news-list ul li .list-image {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: white;
  text-align: center;
}
.news-list ul li .list-image img {
  margin-bottom: 0px;
  display: block;
}
.news-list ul li .list-content {
  padding: 10px;
}
.news-list ul li .list-content p {
  color: white;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0px;
}

#address .location-block {
  padding-bottom: 25px;
  border-bottom: 1px solid #505050;
  margin-bottom: 25px;
}
#address .location-block:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
#address .map img {
  margin-bottom: 0px;
}

#recruitment ol {
  list-style: none;
  padding: 0;
  margin: 20px 0 20px 0.5em;
}
#recruitment ol li {
  color: white;
  font-size: 12px;
}
#recruitment ol li::before {
  content: "*";
  margin-left: -0.5em;
}

.apply-btn a {
  display: block;
  width: 100px;
  line-height: 36px;
  height: 36px;
  text-align: center;
  font-size: 14px;
  background-color: #d6d6d6;
  margin: 20px auto 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
